{% extends 'basedefault.html' %}
<!DOCTYPE html>
<html lang="en">

{% load static %}

{% block meta %}
<title>HI-DAY</title>
{% endblock meta %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="pb-5">Selamat datang di HI-DAY</h1>
    
    <div class="d-flex justify-content-center">
        <a href="/login" class="button" style="width: 140px;">
            <button type="button" class="btn btn-outline-warning">Login</button>
        </a>
        <h4 style="width: 90px;">or</h4>
        <a href="/register" class="button">
            <button type="button" class="btn btn-outline-warning">Register</button>
        </a>
    </div>
</body>
</html>
{% endblock content %}