{% extends 'basepeng.html' %}
<!DOCTYPE html>
<html lang="en">

{% load static %}

{% block meta %}
<title>HI-DAY</title>
{% endblock meta %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="pt-5">Email: {{ Email }}</h1>
    <h1>Nama Area Pertanian: {{ Nama_Area_Pertanian }}</h1>
    <h1>XP: {{ XP }}</h1>
    <h1>Koin: {{ Koin }}</h1>
    <h1>Level: {{ Level }}</h1>
</body>
</html>
{% endblock content %}