<!DOCTYPE html>
{% load static %}
<html lang="en">

{% block meta %}
<title>HI-DAY</title>
{% endblock meta %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'basedefault.html' %}
    <h1 class="pb-5 pt-5">Register sebagai:</h1>
    <div class="d-flex justify-content-center">
        <a href="/register-admin" class="button" style="width: 140px;">
            <button type="button" class="btn btn-outline-warning">Admin</button>
        </a>
        <h4 style="width: 90px;"></h4>
        <a href="/register-pengguna" class="button">
            <button type="button" class="btn btn-outline-warning">Pengguna</button>
        </a>
    </div>
    {% include 'footer.html' %}
</body>
</html>
{% endblock content %}