{% extends 'basepeng.html' %}

<!DOCTYPE html>
<html lang="en">

{% load static %}

{% block content %}
<title>Produksi Hewan</title>
  <div class="container">
    <h3>Form Produksi Hewan</h3>
    <form method="post" action="{% url 'validate' %}">
        {% csrf_token %}
        
        <div class="input-group mb-3">
          <label class="input-group-text" for="selectHewan">ID_Hewan: </label>
          <select name='namaHewan' class="form-select" id="selectHewan">
            <option value="">--Select--</option>
            {% for hewan in hasil %}
              <option value="{{ hewan.nama }}"> {{hewan.nama}} </option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="jumlah">Jumlah : </label>
          <input type="text" class="form-control" id="jumlah" name="jumlah" placeholder="Masukkan Jumlah" required>
        </div>
        <div class="form-group">
          <label for="xp">XP: 5 </label>
          <input type="text" class="form-control" id="xp" name="xp" placeholder="-" disabled>
        </div>
        {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}
        <br>
        <center><button type="submit" class="btn btn-primary btn-am">PRODUKSI</button></center>
    </form>
    {% include 'footer.html' %}
  </div>
{% endblock content %}