<!-- {% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en">

{% load static %}

{% block content %}
  <head>
    <meta charset="UTF-8" />
    <title>Histori Produksi Hewan</title>
  </head>
  <body>
        <center>
              <h1>FORM PRODUKSI HEWAN</h1>
        </center>
        <br/>
        <br/>
            <div class="container">
            {% if form.errors %}
                  {% for field in form %}
                        {% for error in field.errors %}
                              <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                              </div>
                  {% endfor %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                  </div>
                  {% endfor %}
            {% endif %}
                  <form method="POST">
                  {% csrf_token %}  
                  <table style="margin:20px auto;">
                  <tr>
                        <td>ID_Hewan</td>
                        <td>
                        <input type="number" name="npm" value=""></td>
                  </tr>
                  <tr>
                        <td>Nama</td>
                        <td>
                        <input type="text" name="nama" value=""></td>
                  </tr>
                  <tr>
                        <td>Tanggal lahir</td>
                        <td>
                        <input type="date" name="tgl_lahir" value=""></td>
                  </tr>
                  <tr>
                        <td>Alamat</td>
                        <td>
                        <input type="text" name="alamat" value=""></td>
                  </tr>
                        <td></td>
                        <td><input type="button" onclick = "window.history.back()" value="kembali"></td>
                        <td><input type="submit" value="Simpan"></td>
      
                  </tr>
                  </table>
            </form>	
            </div>

  
  </body>
</html>
{% endblock content %}
 -->

 {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Form Produksi Hewan</title>
</head>
<body>
  <h2>Form Produksi Hewan</h2><br><br>

  <form method="POST">
    {% csrf_token %}
    <div>
        <label for="id_hewan">ID Hewan: </label>
        <select required name="id_hewan" id="id_hewan">
            {% for histori_hewan in %}
            <option value="{{ histori_hewan.id_hewan }}">{{ histori_hewan.id_hewan }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="jumlah">Jumlah: </label>
        <input required name="integer" id="jumlah">
        </select>
    </div>

    <div>
        <label for="xp">XP: </label>
        <input type="integer" required name="xp" id="xp" disabled>
        </select>
    </div>

    
    <div class="row center">
        <input type="PRODUKSI" class="btn btn-primary">
    </div>
</form>


</body>
      {% include 'footer.html' %}
</html>
