<!DOCTYPE html>
<html lang="en">

{% load static %}

{% block content %}
{% if role == 'admin' %}
{% include 'base.html' %}
{% else %}
{% include 'basedefault.html' %}
{% endif %}

  <head>
    <meta charset="UTF-8" />
    <title>Histori Produksi Makanan</title>
  </head>
  <body>
    <div class="container"  style="padding: 50px">
      <div class="row">
        <div class="my-auto d-flex justify-content-center mb-4" style="width:2000px;">
          <h1>List Histori Produksi Makanan</h1>
        </div>
        <table class="table">
          <tr>
            <th>Email Pengguna</th>
            <th>Waktu Awal</th>
            <th>Waktu Selesai</th>
            <th>Jumlah</th>
            <th>XP</th>
            <th>Produk Makanan</th>
            <th>Alat Produksi</th>
          </tr>
          {% for i in hasiladmin %}
          <tr>
            <td> {{ i.email }} </td>
            <td> {{ i.waktu_awal }} </td>
            <td> {{ i.waktu_selesai }} </td>
            <td> {{ i.jumlah }} </td>
            <td> {{ i.xp }} </td>
            <td> {{ i.pnama }} </td>
            <td> {{ i.anama }} </td>
          </tr>
          {% endfor %}
          <!-- END SECTION -->
        </table>
      </div>
    </div>
  </body>
</html>
{% endblock content %}