{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en">

{% load static %}

{% block content %}
  <head>
    <meta charset="UTF-8" />
    <title>Aset</title>
  </head>
  <body>
    <div class="container"  style="padding: 50px">
      <div class="row">
        <div class="my-auto d-flex justify-content-center mb-4" style="width:2000px;">
          <h1>List Aset Petak Sawah</h1>
        </div>
        <table class="table">
          <tr>
            <th>No</th>
            {% if role == 'admin' %}
            <th>Email Pengguna</th>
            {% endif %}
            <th>Nama Aset</th>
            <th>Minimum Level</th>
            <th>Harga Beli</th>
            <th>Jumlah</th>
          </tr>
          {% for aset in hasil %}
          <tr>
            <td> {{ forloop.counter }} </th>
            {% if role == 'admin' %}
            <td> {{ aset.id_koleksi_aset }} </td>
            {% endif %}
            <td> {{ aset.nama }} </td>
            <td> {{ aset.minimum_level }} </td>
            <td> {{ aset.harga_beli }} </td>
            <td> {{ aset.jumlah }} </td>
          </tr>
          {% endfor %}
          <!-- END SECTION -->
        </table>
        <div class="container">
          <a href="/koleksi-aset">
            Kembali ke Menu
          </a>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
{% endblock content %}

