{% extends 'basepeng.html' %}


<!DOCTYPE html>
<html lang="en">



{% load static %}

{% block content %}
<title>Produksi Tanaman</title>
  <div class="container">
    <h3>Form Produksi Tanaman</h3>
    <form method="post" action="{% url 'validate_produksi' %}">
        {% csrf_token %}
        
        <div class="input-group mb-3">
          <label class="input-group-text" for="selectTanaman">Bibit Tanaman: </label>
          <select name='bibitTanaman' class="form-select" id="selectTanaman">
            <option value="">--Select--</option>
            {% for bibit in hasil %}
              <option value="{{ bibit.nama }}"> {{bibit.nama}} </option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="jumlah">Jumlah : </label>
          <input type="text" class="form-control" id="jumlah" name="jumlah" placeholder="Masukkan Jumlah">
        </div>
        <div class="form-group">
          <label for="xp">XP: 5 </label>
          <input type="text" class="form-control" id="xp" name="xp" placeholder="-" disabled>
        </div>
        {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}

        <button type="submit" class="btn btn-primary btn-am">Produksi</button>
    </form>

  </div>
{% endblock content %}