<!DOCTYPE html>
<html lang="en">

{% load static %}

{% block content %}
  <head>
    <meta charset="UTF-8" />
    <title>Aset</title>
  </head>
  <body>
    {% if role == 'admin' %}
    {% include 'base.html' %}
    {% elif role == 'pengguna' %}
    {% include 'basepeng.html' %}
    {% else %}
    {% include 'basedefault.html' %}
    {% endif %}
    <div class="container"  style="padding: 50px">
      <div class="row">
        <div class="my-auto d-flex justify-content-center mb-4" style="width:2000px;">
          <h1>List Aset Hewan</h1>
        </div>
        <table class="table">
          <tr>
            <th>No</th>
            <th>ID</th>
            <th>Nama</th>
            <th>Minimum Level</th>
            <th>Harga Beli</th>
            <th>Durasi Produksi</th>
            <th>ID Kandang</th>
            {% if role == 'admin' %}
            <th>Action</th>
            {% endif %}
          </tr>
          {% for aset in hasil %}
          <tr>
            <td> {{ forloop.counter }} </th>
            <td> {{ aset.id_aset }} </td>
            <td> {{ aset.nama }} </td>
            <td> {{ aset.minimum_level }} </td>
            <td> {{ aset.harga_beli }} </td>
            <td> {{ aset.durasi_produksi }} </td>
            <td> {{ aset.id_kandang }} </td>
            {% if role == 'admin' %}
            <td>
              <div class="container">
                <div class="col-3">
                  <a href="#">
                    [Update]
                  </a>
                  <a href="#">
                    [Delete]
                  </a>
                </div>
              </div>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
          <!-- END SECTION -->
        </table>
        <div class="container">
          <a href="/aset">
            Kembali ke Menu
          </a>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
{% endblock content %}

