{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en">



{% load static %}

{% block content %}
<title>Ubah Paket Koin</title>
  <div class="container">
    <h3>Form Ubah Paket Koin</h3>
    <form method="post" action="{% url 'updatevalidate' paket_koin %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="jumlah_koin">Jumlah Koin: {{paket_koin}}</label>
            <input type="text" class="form-control" id="paket_koin" name="paket_koin" placeholder="-" disabled>
        </div>

        <div class="form-group">
            <label for="harga">Harga : </label>
            <input type="text" class="form-control" id="harga" name="harga" placeholder="Masukkan Harga" >
        </div>
        {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}

        <button type="submit" class="btn btn-primary btn-am">Update</button>
    </form>

  </div>
{% endblock content %}