{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en">

{% load static %}

{% block content %}
  <head>
    <meta charset="UTF-8" />
    <title>Histori Penjualan</title>
  </head>
  <body>
    <div class="container"  style="padding: 50px">
      <div class="row">
        <div class="my-auto d-flex justify-content-center mb-4" style="width:2000px;">
          <h1>List Histori Penjualan</h1>
        </div>
        <table class="table">
          <tr>
            <th>Email Pengguna</th>
            <th>Waktu Penjualan</th>
            <th>ID Pesanan</th>
            <th>Koin Diperoleh</th>
            <th>XP Diperoleh</th>
            <th>Action</th>
          </tr>
          {% for histori_penjualan in hasil %}
          <tr>
            <td> {{ histori_penjualan.email }} </td>
            <td> {{ histori_penjualan.waktu_penjualan }} </td>
            <td> {{ histori_penjualan.id_pesanan }} </td>
            <td> {{ histori_penjualan.koin }} </td>
            <td> {{ histori_penjualan.xp }} </td>
            <td>
              <div class="mb-3">
                <a href='detail-pesanan'>
                      <button class="btn btn-outline-secondary">Detail</button>
                </a>
          </div>
            </td>
          </tr>
          {% endfor %}
          <!-- END SECTION -->
        </table>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
{% endblock content %}

