{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en">

{% load static %}

{% block content %}
  <head>
    <meta charset="UTF-8" />
    <title>Transaksi Pembelian Aset</title>
  </head>
  <body>
    <div class="container"  style="padding: 50px">
      <div class="row">
        <div class="my-auto d-flex justify-content-center mb-4" style="width:2000px;">
          <h1>List Transaksi Pembelian Aset</h1>
        </div>
        <table class="table">
          <tr>
            <th>No</th>
            {% if role == 'admin' %}
            <th>Email Pengguna</th>
            {% endif %}
            <th>Waktu Pembelian</th>
            <th>Jenis</th>
            <th>Nama Aset</th>
            <th>Jumlah</th>
            <th>Total Harga</th>
          </tr>
          {% for aset in hasil %}
          <tr>
            <td> {{ forloop.counter }} </th>
            {% if role == 'admin' %}
            <td> {{ aset.email }} </td>
            {% endif %}
            <td> {{ aset.waktu }} </td>
            <td> {{ aset.jenis }} </td>
            <td> {{ aset.nama }} </td>
            <td> {{ aset.jumlah }} </td>
            <td> {{ aset.total_harga }} </td>
          </tr>
          {% endfor %}
          <!-- END SECTION -->
        </table>
      </div>
    </div>
  </body>
</html>
{% endblock content %}

