<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    {% block meta %} {% endblock meta %}
  </head>

  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button
        class="navbar-toggler ms-3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-brand navbar-left ms-5">
        <ul class="navbar-nav ms-auto my-2">
          <li class="nav-item">
            <a class="nav-link me-5 ms-3" href="/"> B08 HI-DAY </a>
          </li>
        </ul>
      </div>

    </nav>
    <div class="mainbox container-fluid">
    {% block content %}

    {% endblock content %}
    </div>
    <!-- <div class="container mt-auto">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; 2022 CHRONOS, TK BASDAT B08</p>

        <ul class="nav col-me-4 justify-content-end">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
 
        </ul>
      </footer>
    </div> -->
  </body>
</html>
