{% extends 'basepeng.html' %}


<!DOCTYPE html>
<html lang="en">

{% load static %}

{% block content %}
  <head>
    <meta charset="UTF-8" />
    <title>Produksi</title>
  </head>
  <body>
    <div class="container"  style="padding: 50px">
      <div class="row">
        <div class="my-auto d-flex justify-content-center mb-4" style="width:2000px;">
          <h1>List Produksi</h1>
        </div>
        <table class="table">
          <tr>
            <th>Produk Makanan</th>
            <th>Alat Produksi</th>
            <th>Durasi Produk</th>
            <th>Jumlah Produk Hasil Produksi</th>
          </tr>
          {% for i in hasil %}
          <tr>
            <td> {{ i.pnama }} </td>
            <td> {{ i.anama }} </td>
            <td> {{ i.durasi }} </td>
            <td> {{ i.jumlah_unit_hasil }} </td>
          </tr>
          {% endfor %}
          <!-- END SECTION -->
        </table>
      </div>
    </div>
  </body>
</html>
{% endblock content %}